Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

.github/labeler.yml:

kontrakt:
  - model/src/main/java/**/*
  - kontrakter/src/main/java/**/*

mocks:
  - 'mocks/**/src/main/java/**/*'

web:
  - server/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml

Fjerner MockServiceSOAPHandler + oppdater readme
  README.md
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServiceSOAPHandler.java
Labels: web

Sanerer enda mer WS code og dependencies
  mocks/dokdist-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  pom.xml
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: pom

Sonar fix
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/TilbakekrevingKonsistensTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Bruker secure random generator
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/TilbakekrevingKonsistensTjeneste.java
Labels: mocks

Sonar fiks
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/TilbakekrevingKonsistensTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Merge fix
  pom.xml
Labels: pom

Bump kafka_avro
  pom.xml
Labels: pom

Sanerer oppdrag_mock og WS. (#1173)
  .github/workflows/dependency-submission.yml
  README.md
  mocks/dokdist-mock/pom.xml
  mocks/fpwsproxy-mock/pom.xml
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/Kravgrunnlag431DtoMapper.java
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/TilbakekrevingKonsistensTjeneste.java
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  mocks/oppdrag-mock/pom.xml
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/KravgrunnlagGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/TilbakekrevingServiceMapper.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/TilbakekrevingServiceMockImpl.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/Periode.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/PeriodeGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/PeriodeType.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/SimulerFpServiceMockImpl.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/SimuleringGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/perioder.jpg
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/readme.md
  mocks/oppdrag-mock/src/main/test/java/no/nav/system/os/eksponering/SimuleringGeneratorTest.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServiceSOAPHandler.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/SoapWebServiceConfig.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/soap/sts/STSIssueResponseGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/soap/sts/SecurityTokenServiceMockImpl.java
  server/src/main/resources/Handler-chain.xml
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
  server/src/test/resources/FOR_INFO_ONLY-STS-Issue-request.xml
  server/src/test/resources/FOR_INFO_ONLY-STS-Issue-response-new.xml
  server/src/test/resources/FOR_INFO_ONLY-STS-Issue-response.xml
  util/pom.xml
Labels: mocks, web, pom

Siste versjon av journalhendelse
  pom.xml
Labels: pom

Siste versjon av journalhendelse (#1208)
  pom.xml
Labels: pom

Dependabot: ingorerer teamdokumenthandtering-avro-schemas som ikke følger SEMVER.
  .github/dependabot.yml
  pom.xml
Labels: pom

Dependabot: ingorerer teamdokumenthandtering-avro-schemas som ikke fø… (#1209)
  .github/dependabot.yml
  pom.xml
Labels: pom

Fikser TilbakekrevingKonsistensTjeneste som ikke kunne instansieres
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/TilbakekrevingKonsistensTjeneste.java
Labels: mocks

Implementert idporten støtte. Forenkling azure. Generell rydding.
  pom.xml
  server/application.properties
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/WellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/LoginserviceLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardBruker.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/EndUserAuthenticateSuccess.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/EndUserAuthenticateTemplate.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web, pom

Sonar
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenExchangeResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

Inkludert ider fra tidligere PR.
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/JsonWebKeyHelper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2AccessTokenResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2RequestParameterNames.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/abac/PdpRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenExchangeResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: web

Sonar
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/JsonWebKeyHelper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: web

Fjerner opensaml som ikke trenges lenger
  pom.xml
  server/pom.xml
Labels: pom

Implementert idporten støtte. Forenkling azure. Generell rydding. (#1211)
  pom.xml
  server/application.properties
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/JsonWebKeyHelper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2AccessTokenResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2RequestParameterNames.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/WellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/EnkelAADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/abac/PdpRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/LoginserviceLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/EndUserAuthenticateSuccess.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/EndUserAuthenticateTemplate.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenExchangeResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: web, pom

Legg på idtyp-claim i VTP-token
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
Labels: web

Flyttet jetty over til 12. Obs på endring i jetty pakker.
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/identer/FoedselsnummerGenerator.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/GateadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Personopplysninger.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PostboksadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/UstrukturertAdresseModell.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: kontrakt, web, pom

sonar
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: web

Legg på idtyp-claim i VTP-token (#1212)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
Labels: web

Flyttet jetty over til 12. Eendring i jetty pakker. (#1213)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/identer/FoedselsnummerGenerator.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/GateadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Personopplysninger.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PostboksadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/UstrukturertAdresseModell.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: kontrakt, web, pom

Update build.yml
  .github/workflows/build.yml
Labels: none

Update build.yml (#1214)
  .github/workflows/build.yml
Labels: none

Fix permissions mot GAR
  .github/workflows/build.yml
Labels: none

Fikser fremvisning av dokumenter i saf/dokarkiv
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostSelvbetjeningBuilder.java
  mocks/saf-mock/src/main/java/no/nav/saf/SafMock.java
Labels: mocks

Update dependabot.yml - groups introduced
  .github/dependabot.yml
Labels: none

Bump fp-kontrakter for å få med støtte for k9-ytelser
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
  pom.xml
Labels: pom

Test kjøring med distroless java17
  Dockerfile
Labels: none

Test kjøring med distroless java17 (#1252)
  Dockerfile
Labels: none

Revert "Test kjøring med distroless java17 (#1252)"
  Dockerfile
Labels: none

Forsøk 2: distroless med wget til å støtte healtcheck
  Dockerfile
Labels: none

Forsøk 2: distroless med wget til å støtte healtcheck (#1253)
  Dockerfile
Labels: none

Legger til rolle for PIP for bruk i verdikjede
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
Labels: web

Legger til rolle for PIP for bruk i verdikjede (#1258)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
Labels: web

Bump fp-kontrakter for å få med støtte for k9-ytelser (#1248)
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
  pom.xml
Labels: pom

Fix NPE familierelasjon
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Personopplysninger.java
Labels: kontrakt

Fix NPE familierelasjon (#1259)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Personopplysninger.java
Labels: kontrakt
