Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

.github/labeler.yml:

kontrakt:
  - model/src/main/java/**/*
  - kontrakter/src/main/java/**/*

mocks:
  - 'mocks/**/src/main/java/**/*'

web:
  - server/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml

Fix: En helg test + bom 0.5.5
  README.md
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
  pom.xml
Labels: pom

Fix: En helg test + bom 0.5.5 (#1165)
  README.md
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
  pom.xml
Labels: pom

Fjerner spor av gammel io.swagger og swagger-codegen-cli
  mocks/dokdist-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/MicrosoftGraphApiMock.java
Labels: web, pom

Fjerner en copy&past feil MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/MicrosoftGraphApiMock.java
Labels: web

Gjør nødvendige endringer i kontrakt for å støtte jackson 2.15
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/arbeidsforhold/ArbeidsforholdModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/Orgnummer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/Prosent.java
Labels: kontrakt

Gjør nødvendige endringer i kontrakt for å støtte jackson 2.15 (#1166)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/arbeidsforhold/ArbeidsforholdModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/Orgnummer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/Prosent.java
Labels: kontrakt

Sommerrengjøring: Rydder opp i pom filer og avhengigheter 1
  mocks/arbeidsforhold-mock/pom.xml
  mocks/axsys-enhetstilgang-mock/pom.xml
  mocks/dkif-mock/pom.xml
  mocks/dokdist-mock/pom.xml
  mocks/dummy-mock/pom.xml
  mocks/fpwsproxy-mock/pom.xml
  mocks/gsak-mock/pom.xml
  mocks/infotrygd-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/inntekt-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  mocks/medl-mock/pom.xml
  mocks/norg2-mock/pom.xml
  mocks/omsorgspenger-rammemeldinger-mock/pom.xml
  mocks/oppdrag-mock/pom.xml
  mocks/oppgave-mock/pom.xml
  mocks/organisasjon-mock/pom.xml
  mocks/pdl-mock/pom.xml
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlFunctionalException.java
  mocks/pesys-mock/pom.xml
  mocks/pom.xml
  mocks/saf-mock/pom.xml
  mocks/saf-mock/src/main/java/no/nav/saf/exceptions/SafFunctionalException.java
  mocks/sigrun-mock/pom.xml
  mocks/skjermet-person-mock/pom.xml
  pom.xml
  server/pom.xml
Labels: mocks, pom

jersey-common bort
  mocks/fpwsproxy-mock/pom.xml
Labels: pom

jersey-common RuntimeDelegateImpl test
  mocks/dkif-mock/pom.xml
Labels: pom

Sommerrengjøring: Rydder opp i pom filer og avhengigheter 1 (#1168)
  mocks/arbeidsforhold-mock/pom.xml
  mocks/axsys-enhetstilgang-mock/pom.xml
  mocks/dkif-mock/pom.xml
  mocks/dokdist-mock/pom.xml
  mocks/dummy-mock/pom.xml
  mocks/fpwsproxy-mock/pom.xml
  mocks/gsak-mock/pom.xml
  mocks/infotrygd-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/inntekt-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  mocks/medl-mock/pom.xml
  mocks/norg2-mock/pom.xml
  mocks/omsorgspenger-rammemeldinger-mock/pom.xml
  mocks/oppdrag-mock/pom.xml
  mocks/oppgave-mock/pom.xml
  mocks/organisasjon-mock/pom.xml
  mocks/pdl-mock/pom.xml
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlFunctionalException.java
  mocks/pesys-mock/pom.xml
  mocks/pom.xml
  mocks/saf-mock/pom.xml
  mocks/saf-mock/src/main/java/no/nav/saf/exceptions/SafFunctionalException.java
  mocks/sigrun-mock/pom.xml
  mocks/skjermet-person-mock/pom.xml
  pom.xml
  server/pom.xml
Labels: mocks, pom

Fjerner deprekert dkif mock som er erstattet av digdir
  mocks/digdir-mock/pom.xml
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjon.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinfoResponsDto.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinformasjonMock.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Legger til hentPersonBolk i pdl mock + rydding i logger
  mocks/dokdist-mock/src/main/java/no/nav/dokdistfordeling/DokdistfordelingMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenter/HentIdenterWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkCoordinator.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentperson/HentPersonWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentpersonBolk/HentPersonBolkWiring.java
Labels: mocks

Legger til hentPersonBolk i pdl mock + rydding i logger (#1170)
  mocks/dokdist-mock/src/main/java/no/nav/dokdistfordeling/DokdistfordelingMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenter/HentIdenterWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkCoordinator.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentperson/HentPersonWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentpersonBolk/HentPersonBolkWiring.java
Labels: mocks

Legger til dummy endepunkt for summertskattegrunnlag i SigrunMock som returner NO_CONTENT - 204
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
Labels: mocks

Fix: Lager egen Medlemskapsunntak dto.
  mocks/medl-mock/pom.xml
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/Medlemskapsunntak.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakAdapter.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakMock.java
  pom.xml
Labels: mocks, pom

Fix: Lager egen Medlemskapsunntak dto. (#1171)
  mocks/medl-mock/pom.xml
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/Medlemskapsunntak.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakAdapter.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakMock.java
  pom.xml
Labels: mocks, pom

Fix: fjerner ubrukt dependency til okonomistotte-v1
  mocks/oppdrag-mock/pom.xml
  pom.xml
Labels: pom

Fjerner deprekert dkif mock som er erstattet av digdir (#1169)
  mocks/digdir-mock/pom.xml
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjon.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinfoResponsDto.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinformasjonMock.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Skjermet person bulk request
  mocks/skjermet-person-mock/src/main/java/no/nav/nom/SkjermetPersonMock.java
Labels: mocks

Skjermet person bulk request (#1174)
  mocks/skjermet-person-mock/src/main/java/no/nav/nom/SkjermetPersonMock.java
Labels: mocks

Bruker de offisjele avro skjemaer fra teamdokumenthåndtering.
  pom.xml
  server/pom.xml
Labels: pom

Bruker de offisiele avro skjemaer fra teamdokumenthåndtering. (#1175)
  pom.xml
  server/pom.xml
Labels: pom

Legg til axsys v2 - bare path er ulik
  mocks/axsys-enhetstilgang-mock/src/main/java/no/nav/axsys/AxsysEnhetstilgangV2Mock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

Legg til axsys v2 - bare path er ulik (#1176)
  mocks/axsys-enhetstilgang-mock/src/main/java/no/nav/axsys/AxsysEnhetstilgangV2Mock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

Ny konvensjon axsys v2
  mocks/axsys-enhetstilgang-mock/src/main/java/no/nav/axsys/AxsysEnhetstilgangV2Mock.java
Labels: mocks

Ny konvensjon axsys v2 (#1177)
  mocks/axsys-enhetstilgang-mock/src/main/java/no/nav/axsys/AxsysEnhetstilgangV2Mock.java
Labels: mocks

Fjerner unødvendige setter som fører til konflikt i jackson mapping
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonModell.java
Labels: kontrakt

Legger til medmor i familierelasjonsmodellen i mapper fra DTO til scenariomodell
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/FamilierelasjonModellDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PersonopplysningModellMapper.java
Labels: kontrakt, web

Legger til medmor i familierelasjonsmodellen i mapper fra DTO til sce… (#1188)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/FamilierelasjonModellDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PersonopplysningModellMapper.java
Labels: kontrakt, web

TFP-5516: Strammer inn gha token scopes
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: none

Bruker riktig dto for personbolk
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentpersonBolk/HentPersonBolkWiring.java
Labels: mocks

Bruker riktig dto for personbolk (#1200)
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentpersonBolk/HentPersonBolkWiring.java
Labels: mocks

Brukes ikke lenger
  pom.xml
Labels: pom

Fikser labeler
  .github/workflows/labeler.yml
Labels: none

Fiks test som feiler.
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
Labels: none

Bump dependencies.
  pom.xml
  server/pom.xml
Labels: pom

Fjerner artefakten som ikke lenger brukes. Bump dependencies. (#1204)
  .github/workflows/labeler.yml
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
  pom.xml
  server/pom.xml
Labels: pom

Fikset ee9 deps.
  pom.xml
Labels: pom

Fikset en test.
  mocks/axsys-enhetstilgang-mock/src/main/java/no/nav/axsys/AxsysEnhetstilgangV2Mock.java
  mocks/fpwsproxy-mock/pom.xml
  pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjeneste.java
Labels: mocks, web, pom

Sanerer oppdrag_mock og WS.
  .github/workflows/dependency-submission.yml
  mocks/fpwsproxy-mock/pom.xml
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/Kravgrunnlag431DtoMapper.java
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/tilbakekreving/TilbakekrevingKonsistensTjeneste.java
  mocks/oppdrag-mock/pom.xml
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/KravgrunnlagGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/TilbakekrevingServiceMapper.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/TilbakekrevingServiceMockImpl.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/Periode.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/PeriodeGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/PeriodeType.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/SimulerFpServiceMockImpl.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/SimuleringGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/perioder.jpg
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/readme.md
  mocks/oppdrag-mock/src/main/test/java/no/nav/system/os/eksponering/SimuleringGeneratorTest.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/SoapWebServiceConfig.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/soap/sts/STSIssueResponseGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/soap/sts/SecurityTokenServiceMockImpl.java
  server/src/main/resources/Handler-chain.xml
  server/src/test/resources/FOR_INFO_ONLY-STS-Issue-request.xml
  server/src/test/resources/FOR_INFO_ONLY-STS-Issue-response-new.xml
  server/src/test/resources/FOR_INFO_ONLY-STS-Issue-response.xml
  util/pom.xml
Labels: mocks, web, pom
