Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

.github/labeler.yml:

kontrakt:
  - model/src/main/java/**/*
  - kontrakter/src/main/java/**/*

mocks:
  - 'mocks/**/src/main/java/**/*'

web:
  - server/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml

Fix: Deploy parent pom.xml også
  pom.xml
Labels: pom

Komprimer release skript.
  .github/workflows/release.yml
  .github/workflows/release_ny.yml
Labels: none

Fix deploy (#1114)
  .github/workflows/release.yml
  .github/workflows/release_ny.yml
  pom.xml
Labels: pom

TFP-5163: Legger til rette for bruk av AzureAD token for ansatte i test + opprydding
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/JsonWebKeyHelper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2AccessTokenResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2RequestParameterNames.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Token.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenClaims.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenProviderTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AzureADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AzureADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/LoginserviceLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenExchangeResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/soap/sts/STSIssueResponseGenerator.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/HendelseTest.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/JournalpostSeraliseringDeseraliseringsTest.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/SSLUtilities.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/SerializationTestBase.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenProviderTjenesteTest.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjenesteTest.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXTjenesteTest.java
  server/src/test/resources/.modig/keystore.jks
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: kontrakt, web

Porter inn JO sine endringer om å skille ut azure og microsfot endepunkt
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenProviderTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AzureADForeldrepengerRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AzureADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenProviderTjenesteTest.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjenesteTest.java
Labels: web, pom

Fjerner noen endringer for å minimere risiko
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
Labels: web

Fjerner noen endringer for å minimere risiko
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/soap/sts/STSIssueResponseGenerator.java
Labels: web

Sts cleanup
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSWellKnownResponse.java
Labels: web

Bump fp-bom + fix codegen.
  pom.xml
Labels: pom

Bump fp-bom + fix codegen. (#1116)
  pom.xml
Labels: pom

Oppdatere test for å fikse bygg
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenClaims.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AzureADForeldrepengerRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AzureADForeldrepengerRestTjenesteTest.java
Labels: web

Rename package to fpaad + erstatter nimbus med jose4j
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Token.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenClaims.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenProviderTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/fpaad/AzureADForeldrepengerRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/fpaad/AzureADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/fpaad/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/TokenProviderTjenesteTest.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/fpaad/AzureADForeldrepengerRestTjenesteTest.java
Labels: web, pom

Cleanup JwtConsumer
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Token.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: web

Fjerner topics fra TopicManifest som ikke brukes lenger.
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaConsumerStream.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web, pom

Fjerner topics fra TopicManifest som ikke brukes lenger. (#1121)
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaConsumerStream.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web, pom

Delvis port av pensjon azure
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/MicrosoftGraphApiMock.java
Labels: web

Konsekvent path
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/MicrosoftGraphApiMock.java
Labels: web

Maksimal forenkling
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/EnkelAADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/StandardBruker.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/foraad/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web

Litt mer forenkling
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/EnkelAADRestTjeneste.java
Labels: web

Fjerne getServerName
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/EnkelAADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web

Fixed issuer, variabel baseurl
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web

Nye deps
  mocks/saf-mock/pom.xml
  pom.xml
Labels: pom

Bedre logging
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/EnkelAADRestTjeneste.java
Labels: web

Enklest mulig azure (#1111)
  mocks/saf-mock/pom.xml
  pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/EnkelAADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/StandardBruker.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web, pom

Verdikjeder tålte ikke fixed issuer
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web

Verdikjeder tålte ikke fixed issuer (#1123)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web

Korrekt revert
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web

Korrekt revert (#1124)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: web

Fix: Sikrer at graphql-java-codegen tilsvarer codegen maven plugin.
  mocks/pdl-mock/pom.xml
  mocks/pom.xml
  mocks/saf-mock/pom.xml
Labels: pom

Fix: Sikrer at graphql-java-codegen tilsvarer codegen maven plugin. (#1130)
  mocks/pdl-mock/pom.xml
  mocks/pom.xml
  mocks/saf-mock/pom.xml
Labels: pom

Bump fp-bom 0.5.0
  pom.xml
Labels: pom

Bump fp-bom 0.5.0 (#1131)
  pom.xml
Labels: pom

Create codeql.yml
  .github/workflows/codeql.yml
Labels: none

Update codeql.yml
  .github/workflows/codeql.yml
Labels: none

GA: Fjerner snyk og oppdaterer dependabot.yml
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/snyk.yml
Labels: none

GA: Fjerner schedule fra build.yml
  .github/workflows/build.yml
Labels: none

Diverse oppdateringer
  mocks/pom.xml
  pom.xml
Labels: pom

Diverse oppdateringer (#1148)
  mocks/pom.xml
  pom.xml
Labels: pom

Utvide EREG-navn med sammensattnavn
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
Labels: mocks

Utvide EREG-navn med sammensattnavn (#1163)
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
Labels: mocks
