Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

Nytt post-endepunkt for medlemskap (#1607)
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakApiParams.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakMock.java
Labels: mocks

TFP-5430: Håndterer flere oppgavetyper samtidig ved hentOppgaver
  mocks/oppgave-mock/src/main/java/no/nav/oppgave/OppgaveMockImpl.java
Labels: mocks

Endrer lenke for AGI i fagermock
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: web

Endrer lenke for AGI i fagermock (#1610)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: web

Justerer signatur på mock for pårørende sykdom-applikasjon
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/java/no/nav/infotrygdpaaroerendesykdom/rest/PårørendeSykdomMock.java
Labels: mocks

Forsøk med KRaft uten ZK
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Forsøk med KRaft uten ZK (#1615)
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Revert "Forsøk med KRaft uten ZK (#1615)"
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Revert "Forsøk med KRaft uten ZK" (#1616)
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Forsøk med KRaft uten ZK (#1615)
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

TFP-5430: Håndterer flere oppgavetyper samtidig ved hentOppgaver (#1609)
  mocks/oppgave-mock/src/main/java/no/nav/oppgave/OppgaveMockImpl.java
Labels: mocks

legg til permisjon i ArbeidsforholdDto
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/ArbeidsforholdDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/PermisjonDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/Permisjonstype.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/ArbeidsavtaleMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektkomponentMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PermisjonMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, web

fjern todo
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: none

fiks sonar issue
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: none

legg til s i InntektskomponentMapper
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektskomponentMapper.java
Labels: web

TFP-6067: utvide ArbeidsforholdDto med Permisjon (#1619)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/ArbeidsforholdDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/PermisjonDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/Permisjonstype.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/ArbeidsavtaleMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektskomponentMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PermisjonMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, web

TSFF-1096: Starte opp denne serveren lokal med gamle kafka-logger vil feile, sletter disse så nye kan opprettes av serveren
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: web

Legger til bruker med ungdomsprogramveileder-rolle
  model/src/main/resources/basedata/nav-ansatte.json
Labels: none

Legger til bruker med ungdomsprogramveileder-rolle (#1622)
  model/src/main/resources/basedata/nav-ansatte.json
Labels: none

Oppdater graphql-skjema PDL/SAF
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
Labels: mocks

TFP-6038 kelvin-mock V0
  mocks/kelvin-mock/pom.xml
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/KelvinMock.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Fjerne ref til sykepenger og spøkelse
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/KelvinMock.java
Labels: mocks

Finlesing av kontrakt
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/KelvinMock.java
Labels: mocks

TFP-6038 kelvin-mock V0 (#1625)
  mocks/kelvin-mock/pom.xml
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/KelvinMock.java
  mocks/pom.xml
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Oppdater graphql-skjema PDL/SAF (#1624)
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
Labels: mocks

TFP-6038 vedktaksdato er dato, ikke tid
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
Labels: mocks

TFP-6038 vedktaksdato er dato, ikke tid (#1626)
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
Labels: mocks

Unødvendig dependency
  pom.xml
Labels: pom

Unødvendig dependency (#1627)
  pom.xml
Labels: pom

TSFF-1096: Starte opp denne serveren lokal med gamle kafka-logger vil… (#1620)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: web

Utvider kontaktinformasjon med aktiv-felt i krr mock
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjoner.java
Labels: mocks

Utvider kontaktinformasjon med aktiv-felt i krr mock (#1634)
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjoner.java
Labels: mocks

Bump fp-kontrakter til 9.3.3
  pom.xml
Labels: pom

Bump fp-kontrakter til 9.3.5
  pom.xml
Labels: pom

Bump fp-kontrakter til 9.3.5 (#1641)
  pom.xml
Labels: pom

Legger til et nytt users-endepunkt som støtter oid som path param
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: web

MSGraphApi: legger til et nytt users-endepunkt som støtter oid som path param (#1643)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: web

FIX: Legger inn arkivtema for ungdomsytelsen
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/Arkivtema.java
Labels: kontrakt

FIX: Legger inn arkivtema for ungdomsytelsen (#1650)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/Arkivtema.java
Labels: kontrakt

FIX: Legger inn fagsystem og tema for saf
  mocks/journalpost-mock/src/main/swagger/swagger.yml
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
Labels: none

.github/labeler.yml:

kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['model/src/main/java/**/*', 'kontrakter/src/main/java/**/*']

mocks:
  - changed-files:
      - any-glob-to-any-file: ['mocks/**/src/main/java/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['server/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']
