Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

.github/labeler.yml:

kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['model/src/main/java/**/*', 'kontrakter/src/main/java/**/*']

mocks:
  - changed-files:
      - any-glob-to-any-file: ['mocks/**/src/main/java/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['server/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']

LDAP og MS Graph api bruker epost som upn (#1421)
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
Labels: mocks

TFP-5786: Nødvendige tilpasninger autentsieringsserveren for IDPORTEN… (#1419)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2AccessTokenResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/WellKnownResponse.java
Labels: web

Leesah FodselsdatoV1 oppdatert PDL og SAF
  mocks/pdl-mock/pom.xml
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  mocks/saf-mock/pom.xml
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostSelvbetjeningBuilder.java
  mocks/saf-mock/src/main/java/no/nav/saf/graphql/GraphQLTjeneste.java
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/foedselsdato/Foedselsdato.avdl
Labels: mocks, web, pom

Leesah FoedselsdatoV1 oppdatert PDL og SAF (#1424)
  mocks/pdl-mock/pom.xml
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  mocks/saf-mock/pom.xml
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostSelvbetjeningBuilder.java
  mocks/saf-mock/src/main/java/no/nav/saf/graphql/GraphQLTjeneste.java
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/foedselsdato/Foedselsdato.avdl
Labels: mocks, web, pom

Slutte å publisere Leesah-Foedsel (kun Foedselsdato)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

Fjerner deprekerte endepunkt i IdportenLoginTjeneste for innlogging
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

Fjerner deprekerte endepunkt i IdportenLoginTjeneste for innlogging (#1428)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

Slutte å publisere Leesah-Foedsel (kun Foedselsdato) (#1426)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

TFP-5624: Legger til mock av pdl-pip-api
  mocks/pdl-mock/src/main/java/no/nav/pip/PdlPipMock.java
  mocks/pdl-mock/src/main/java/no/nav/pip/TilgangPersondataDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

Fjerner unødvendige metoder (skal erstattes av fellesverison uansett)
  mocks/pdl-mock/src/main/java/no/nav/pip/TilgangPersondataDto.java
Labels: mocks

TFP-5624: Legger til mock av pdl-pip-api (#1446)
  mocks/pdl-mock/src/main/java/no/nav/pip/PdlPipMock.java
  mocks/pdl-mock/src/main/java/no/nav/pip/TilgangPersondataDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

Utvidelse av saf/selv-skjema: navn for avsender/mottaker
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
Labels: none

Legg til dummy navn
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostSelvbetjeningBuilder.java
Labels: mocks

Legg til fornavn, etternavn og enhet for ansatte
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: kontrakt, mocks, web

Et par security-warnings
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

Legg til fornavn, etternavn og enhet for ansatte (#1466)
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: kontrakt, mocks, web

Ldap har sn isf surname
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
Labels: mocks

Ldap har sn isf surname (#1467)
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
Labels: mocks

Utvidelse av saf/selv-skjema: navn for avsender/mottaker (#1458)
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostSelvbetjeningBuilder.java
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
Labels: mocks

Forenkle ansatte-oppsett
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
Labels: kontrakt, web

Forenkle ansatte-oppsett (#1471)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
Labels: kontrakt, web

Norsk skal ikke ha LAND som GeografiskTilknytningType men BYDEL eller KOMMUNE
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/GeografiskTilknytningDto.java
Labels: kontrakt

Legg til støtte for opphørt organisasjon
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonNoekkelinfo.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonDetaljerModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/OrganisasjonsmodellMapper.java
Labels: kontrakt, mocks, web

Legg til støtte for opphørt organisasjon (#1477)
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonNoekkelinfo.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonDetaljerModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/OrganisasjonsmodellMapper.java
Labels: kontrakt, mocks, web

Nytt innslag i enhetsliste
  model/src/main/resources/basedata/enheter.json
Labels: none

TSFF-817: Tilpasninger for å få fordel med i Verdikjede
  Dockerfile
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkWiring.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/hendelse/JournalforingHendelseSender.java
Labels: mocks, web

Tsff 817 tilpasninger fordel (#1503)
  Dockerfile
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkWiring.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/hendelse/JournalforingHendelseSender.java
Labels: mocks, web

Fjerner støtten for STS
  mocks/altinn-rettigheter-proxy-mock/pom.xml
  mocks/altinn-rettigheter-proxy-mock/src/main/java/no/nav/nom/AltinnRettigheterProxyMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSWellKnownResponse.java
Labels: mocks, web, pom

Fjerner mock
  mocks/altinn-rettigheter-proxy-mock/pom.xml
  mocks/altinn-rettigheter-proxy-mock/src/main/java/no/nav/nom/AltinnRettigheterProxyMock.java
Labels: mocks, pom

Legger inn en enkelt altinn rettigheter proxy mock.
  mocks/altinn-proxy-mock/pom.xml
  mocks/altinn-proxy-mock/src/main/java/no/nav/altinn/AltinnRettigheterProxyMock.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Legger inn en enkelt altinn rettigheter proxy mock. (#1519)
  mocks/altinn-proxy-mock/pom.xml
  mocks/altinn-proxy-mock/src/main/java/no/nav/altinn/AltinnRettigheterProxyMock.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Fjerner støtten for inngående STS (#1518)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSWellKnownResponse.java
Labels: web

Revert "Bump org.apache.zookeeper:zookeeper from 3.9.2 to 3.9.3 in the prod-deps group (#1525)"
  pom.xml
Labels: pom

Revert "Bump org.apache.zookeeper:zookeeper from 3.9.2 to 3.9.3 in th… (#1529)
  pom.xml
Labels: pom

Sett claim oid på vtp-genererte mock-azure-token
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
Labels: web

Sett claim oid på vtp-genererte mock-azure-token (#1532)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
Labels: web

Azure: wonderwall krever nå at id_token_signing_alg_values_supported er satt med støttede algoritmer.
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/WellKnownResponse.java
Labels: web

POFIM-98: Lager en fager-api-mock for backend
  mocks/fager-mock/pom.xml
  mocks/fager-mock/src/main/java/no/nav/fager/FagerBasicWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerGraphqlTjeneste.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
  mocks/fager-mock/src/main/java/no/nav/fager/exceptions/FagerFunctionalException.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DateScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DateTimeScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DurationScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/GraphQLRequest.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/LocalDateTimeScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerWiring.java
  mocks/fager-mock/src/main/resources/schemas/produsent.graphql
  mocks/fager-mock/src/test/java/no/nav/fager/FagerGraphqlTjenesteTest.java
  mocks/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/OppgaveModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/SakModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/resources/logback.xml
Labels: kontrakt, mocks, web, pom

Fix code scanning alert no. 295: Log Injection
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

POFIM-98: Setter tilbake log level
  server/src/main/resources/logback.xml
Labels: none
