Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

FIX: Oppdater beskrivelse
  mocks/journalpost-mock/src/main/swagger/swagger.yml
Labels: none

FIX: Legger inn fagsystem og tema for saf (#1651)
  mocks/journalpost-mock/src/main/swagger/swagger.yml
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
Labels: none

Legger inn en vilkårlig enhet for UNG
  model/src/main/resources/basedata/enheter.json
Labels: none

FIX: Tar også med siste måned ved splitting
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModell.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModellTest.java
Labels: kontrakt

FIX: Fiks typo
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModellTest.java
Labels: none

FIX: Flere tester
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModellTest.java
Labels: none

FIX: Test på to hele perioder
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModellTest.java
Labels: none

FIX: Fiks typo
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModellTest.java
Labels: none

FIX: Fiks typo
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModellTest.java
Labels: none

FIX: Tar også med siste måned ved splitting (#1662)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModell.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModellTest.java
Labels: kontrakt

Feiler dersom aktørid er null
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakAdapter.java
Labels: mocks

chore: Jakarta EE 11
  mocks/kafka-embedded-mock/pom.xml
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaConsumerStream.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlTestBase.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web, pom

chore: Jakarta EE 11 (#1678)
  mocks/kafka-embedded-mock/pom.xml
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaConsumerStream.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlTestBase.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web, pom

Testing that Kafka is connected
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaConnectionTest.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
Labels: mocks

Testing that Kafka is connected
  docker-compose.yml
Labels: none

Update graphql-java version to 24.2
  pom.xml
Labels: pom

TFP-6393: Kafka fungerer med SSL
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
Labels: mocks

TFP-6390 mock for inntektskomp V2
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektBulkRequest.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektBulkResponse.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektRequest.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektResponse.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/Inntektsinformasjon.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektskomponentV2REST.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/modell/InntektModellMapper.java
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

Feedback fra inntektskomp
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektskomponentV2REST.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/modell/InntektModellMapper.java
Labels: mocks

TFP-6390 mock for inntektskomp V2 (#1683)
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektBulkRequest.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektBulkResponse.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektRequest.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektResponse.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/Inntektsinformasjon.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektskomponentV2REST.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/modell/InntektModellMapper.java
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

Testing that Kafka is connected
  docker-compose.yml
Labels: none

Testing that Kafka is connected
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaConnectionTest.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
Labels: mocks

TFP-6393: Skille mellom ny og gammel kafka i server. Co-authored-by: MagnusFuruhaug <magnusefu@gmail.com>
  docker-compose.yml
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaConnectionTest.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaToggle.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Skiller mellom ny og embedded kafka. Co-authored-by: MagnusFuruhaug <magnusefu@gmail.com>
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Ryddet opp i koden Co-authored-by: MagnusFuruhaug <magnusefu@gmail.com>
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Ryddet opp
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
Labels: mocks

Ryddet opp i koden Co-authored-by: MagnusFuruhaug <magnusefu@gmail.com>
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

Ryddet opp i imports Co-authored-by: MagnusFuruhaug <magnusefu@gmail.com>
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaToggle.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

TFP-6393: Skilt ut Kafka i egen Docker container og støtter embedded Kafka
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaToggle.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

TFP-6393: Ryddet opp i Kafka topics i testscenarioer Co-authored-by: MagnusFuruhaug <magnusefu@gmail.com>
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalforingHendelseSender.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: mocks, web

TFP-6393: Ryddet opp i Kafka topics i testscenarioer (#1687)
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalforingHendelseSender.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: mocks, web

TFP-6393: Sette nytt passord.
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: none

fix(journalpost): legg til tilleggsopplysninger felt i JournalpostModell
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
Labels: kontrakt

test: legg til test for tilleggsopplysninger felt
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/JournalRepoTest.java
Labels: none

upd testTilleggsopplysningerField
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/JournalRepoTest.java
Labels: none

Chore: Removing code supporting previous versions of kafka (embedded).
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLoginModule.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaToggle.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: mocks, web

feat: legg til Tilleggsopplysning Record
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/Tilleggsopplysning.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/JournalRepoTest.java
Labels: kontrakt

Chore: fjerne kode som støtter tidligere versjoner av kafka (embedded), og generell opprydning.
  mocks/journalpost-mock/pom.xml
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLoginModule.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaToggle.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  mocks/kafka-producer/pom.xml
  mocks/kafka-producer/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web, pom

TFP-6393: Rydder opp i koden og fjerner støtte for gammel kafka. (#1690)
  mocks/journalpost-mock/pom.xml
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLoginModule.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaToggle.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  mocks/kafka-producer/pom.xml
  mocks/kafka-producer/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaProducer.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: mocks, web, pom

Chore: mer kafka cleanup
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaTopicDto.java
Labels: web

.github/labeler.yml:

kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['model/src/main/java/**/*', 'kontrakter/src/main/java/**/*']

mocks:
  - changed-files:
      - any-glob-to-any-file: ['mocks/**/src/main/java/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['server/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']
