Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

Update YtelseType.java
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/YtelseType.java
Labels: mocks

endrer til koder for k9 ytelsetyper (#1260)
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/YtelseType.java
Labels: mocks

TFP-5340: Fjerner forelderpenger/svangerskapspenger fra infotrygdmock og trexmmodell
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/GrunnlagDto.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttedeSaker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/IkkeStartetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/LøpendeSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Sak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakResultat.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakType.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saksnummer.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Utbetaling.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/TRexModell.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/ScenarioTest.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/TrexModellSeraliseringDeseralseringsTest.java
  model/src/test/resources/scenarios/1-for-enhetstester/inntektytelse-søker.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

TFP-5340: Fjerner forelderpenger/svangerskapspenger fra infotrygdmock… (#1265)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/GrunnlagDto.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttedeSaker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/IkkeStartetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/LøpendeSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Sak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakResultat.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakType.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saksnummer.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Utbetaling.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/TRexModell.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/ScenarioTest.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/TrexModellSeraliseringDeseralseringsTest.java
  model/src/test/resources/scenarios/1-for-enhetstester/inntektytelse-søker.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

La til kode for FRISINN
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/YtelseType.java
Labels: mocks

La til kode for FRISINN (#1269)
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/YtelseType.java
Labels: mocks

TFP-5615 mock for Sigrun PGI
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/PgiFolketrygdenResponse.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

TFP-5615 mock for Sigrun PGI (#1270)
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/PgiFolketrygdenResponse.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

Legge på roles [access_as_application], trengs for omsorgsdager-appene
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
Labels: web

Bumper vtp til java 21 (kontrakter bygges på java 17 for k9)
  .java-version
  Dockerfile
  kontrakter/pom.xml
  model/pom.xml
  pom.xml
Labels: pom

Push docker image også til ghcr pga k9
  .github/workflows/build.yml
Labels: none

Push docker image også til ghcr pga k9
  .github/workflows/build.yml
Labels: none

Test
  .github/workflows/build.yml
Labels: none

Ferdigstiller push av ghcr og for k9
  .github/workflows/build.yml
Labels: none

Bumper vtp til java 21 (kontrakter bygges på java 17 for k9) (#1281)
  .github/workflows/build.yml
  .java-version
  Dockerfile
  kontrakter/pom.xml
  model/pom.xml
  pom.xml
Labels: pom

Package: write permison on ghcr push
  .github/workflows/build.yml
Labels: none

.github/labeler.yml:

kontrakt:
  - model/src/main/java/**/*
  - kontrakter/src/main/java/**/*

mocks:
  - 'mocks/**/src/main/java/**/*'

web:
  - server/src/main/java/**/*

pom:
  - '**/*/pom.xml'
  - pom.xml
