Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

.github/labeler.yml:

kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['model/src/main/java/**/*', 'kontrakter/src/main/java/**/*']

mocks:
  - changed-files:
      - any-glob-to-any-file: ['mocks/**/src/main/java/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['server/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']

Nullsafe sjekk for publisering av ForelderBarnrelasjon (#1579)
  .githooks/pre-commit
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

Fikser endepunkt for innsending av personhendelser.
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

Fikser endepunkt for innsending av personhendelser. (#1580)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

Maven: Tar i bruk fp-bom og rydder i configurasjon
  kontrakter/pom.xml
  mocks/pom.xml
  model/pom.xml
  pom.xml
  server/pom.xml
Labels: pom

Maven: Tar i bruk fp-bom og rydder i configurasjon (#1581)
  kontrakter/pom.xml
  mocks/pom.xml
  model/pom.xml
  pom.xml
  server/pom.xml
Labels: pom

GA: Trigger ny realease av draft for debugging
  pom.xml
Labels: pom

GA: Legger til version-resolver for versjonering github release
  .github/release-drafter.yml
Labels: none

GA: Fjern version-resolver realse-drafter.yml
  .github/release-drafter.yml
Labels: none

Kafka: Bruker versjon fra fp-bom (3.5.1 til 3.9.1) og feiler hardt hvis kafka ikke starter opp + fjerner noen kafka admin endepunkt som ikke er i bruk
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaRestTjeneste.java
Labels: mocks, web, pom

Kafka: Bruker versjon fra fp-bom (3.5.1 til 3.9.1) og feiler hardt hv… (#1584)
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaRestTjeneste.java
Labels: mocks, web, pom

TFP-5967: Utvider kontrakt for å legge til addressebeskyttelse og skjermet person (+ utvidelse av skjermet person mock)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/Adressebeskyttelse.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/PersonDto.java
  mocks/skjermet-person-mock/src/main/java/no/nav/nom/SkjermetPersonMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PersonopplysningModellMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, mocks, web

TFP-5967: Utvider kontrakt for å legge til addressebeskyttelse og skj… (#1585)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/Adressebeskyttelse.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/PersonDto.java
  mocks/skjermet-person-mock/src/main/java/no/nav/nom/SkjermetPersonMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PersonopplysningModellMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, mocks, web

chore: forenkler Dockerfile oppsett som er flyttet til baseimage
  Dockerfile
Labels: none

chore: forenkler Dockerfile oppsett som er flyttet til baseimage (#1586)
  Dockerfile
Labels: none

feat: Legger inn mulighet for å trigge AGI FP og SVP fra Fager Portal Mock.
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: mocks, web

feat: Legger inn mulighet for å trigge AGI FP og SVP fra Fager Portal… (#1587)
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: mocks, web

Bygg også for arm64
  .github/workflows/build.yml
Labels: none

Bygg også for arm64 (#1590)
  .github/workflows/build.yml
Labels: none

feat: legger inn støtte for Beskjeder i arbeidsgiver porta mocken.
  mocks/fager-mock/src/main/java/no/nav/fager/FagerBasicWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerGraphqlTjeneste.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerWiring.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/BeskjedModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: kontrakt, mocks, web

fix: typo
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: kontrakt, web

fix: typo
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerWiring.java
Labels: mocks

feat: legger inn støtte for Beskjeder i arbeidsgiver porta mocken. (#1591)
  mocks/fager-mock/src/main/java/no/nav/fager/FagerBasicWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerGraphqlTjeneste.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerWiring.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/BeskjedModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: kontrakt, mocks, web

Oppdaterer DokumenttypeId til å samsvare med dokumenter som FP støtter + fjerner legacy DoksysKoder
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/DokumenttypeId.java
Labels: kontrakt

Fiks NPE i DokumenttypeId for udefinert
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/DokumenttypeId.java
Labels: kontrakt

Legger inn klage og tilbakekreving dokumenttyper i DokumenttypeId
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/DokumenttypeId.java
Labels: kontrakt

Legger til I000109 som er dokumentasjon av tilretteleggging svp
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/DokumenttypeId.java
Labels: kontrakt

Ikke journalfør vedlegg som ikke har innhold
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/JournalpostModellGenerator.java
Labels: kontrakt

Fix: Saf mock hvor tittel på dokument var hardkodet
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
Labels: mocks

TSFF-1096: Gosys-mocken skal ikke telle med queryparametere som ikke regnes med når den sjekker om det er match på alle parametere
  mocks/oppgave-mock/src/main/java/no/nav/oppgave/OppgaveMockImpl.java
Labels: mocks

TSFF-1096: Gosys-mocken skal ikke telle med queryparametere som ikke regnes med når den sjekker om det er match på alle parametere (#1596)
  mocks/oppgave-mock/src/main/java/no/nav/oppgave/OppgaveMockImpl.java
Labels: mocks

DIGDIR: Legger til nytt POST endepunkt for å hente ut språk
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
Labels: mocks

Endrer til å være bulk endepunkt
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjon.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjoner.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
Labels: mocks

Fiks mock
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
Labels: none

Fjerner HEADER_NAV_PERSONIDENT + fiks body
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
Labels: mocks

DIGDIR: Legger til nytt POST endepunkt for å hente ut språk (#1603)
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjon.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjoner.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
Labels: mocks

Støtte ungdomsytelse i simulering
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/YtelseType.java
Labels: mocks

Setter opp vtp som brukes av k9 til å bruke sif-baseimage
  .github/dependabot.yml
  .github/workflows/build.yml
  k9.Dockerfile
Labels: none

Setter opp vtp som brukes av k9 til å bruke sif-baseimage (#1604)
  .github/dependabot.yml
  .github/workflows/build.yml
  k9.Dockerfile
Labels: none

Nytt post-endepunkt for medlemskap
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakApiParams.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakMock.java
Labels: mocks

Fjerne fra klassepath
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakMock.java
Labels: mocks
