Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

.github/labeler.yml:

kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['model/src/main/java/**/*', 'kontrakter/src/main/java/**/*']

mocks:
  - changed-files:
      - any-glob-to-any-file: ['mocks/**/src/main/java/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['server/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']

Skjuller fager-api query.
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

Legger inn en enkel Arbeidsgiver Portal frontend mock
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: kontrakt, web

Fix code scanning alert no. 296: Log Injection
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

Fix code scanning alert no. 298: Log Injection
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

Fix: Wonderwall
  mocks/altinn-proxy-mock/src/main/java/no/nav/altinn/AltinnRettigheterProxyMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/TestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/DelegatingTestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioBuilderRepositoryImpl.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/WellKnownResponse.java
Labels: kontrakt, mocks, web

Bedre sanering av input
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

POFIM-98: Lager en fager-api-mock for backend og frontend (#1531)
  mocks/altinn-proxy-mock/src/main/java/no/nav/altinn/AltinnRettigheterProxyMock.java
  mocks/fager-mock/pom.xml
  mocks/fager-mock/src/main/java/no/nav/fager/FagerBasicWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerGraphqlTjeneste.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
  mocks/fager-mock/src/main/java/no/nav/fager/exceptions/FagerFunctionalException.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DateScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DateTimeScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DurationScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/GraphQLRequest.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/LocalDateTimeScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerWiring.java
  mocks/fager-mock/src/main/resources/schemas/produsent.graphql
  mocks/fager-mock/src/test/java/no/nav/fager/FagerGraphqlTjenesteTest.java
  mocks/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/OppgaveModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/SakModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/TestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/DelegatingTestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioBuilderRepositoryImpl.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/WellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: kontrakt, mocks, web, pom

POFIM-100: Legger til add-source for de generete kildefilene så IntelliJ kan finne de.
  mocks/fager-mock/pom.xml
Labels: pom

Fix: Journalføring av en IM fører til at en SAF kafka melding blir opprettet.
  mocks/journalpost-mock/pom.xml
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalforingHendelseSender.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/JournalforingRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/JournalpostSeraliseringDeseraliseringsTest.java
Labels: kontrakt, mocks, web, pom

Fix: Journalføring av en NAV_NO inntektsmelding fører til at en SAF kafka hensese blir trigget (#1537)
  mocks/journalpost-mock/pom.xml
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalforingHendelseSender.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/JournalforingRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/JournalpostSeraliseringDeseraliseringsTest.java
Labels: kontrakt, mocks, web, pom

groups claim i JWT er nå liste av OID, tilsvarende som i miljøer
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/GruppeMapping.java
  model/src/main/resources/basedata/nav-ansatte.json
Labels: mocks

groups claim i JWT er nå liste av OID, tilsvarende som i miljøer
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/GruppeMapping.java
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: kontrakt, mocks, web

feat: Legger om azure token grupper til å være den samme oid på tværs ldap, entra og msgraph api.
  LICENSE
  README.md
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NavAnsatt.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/BasisdataProviderFileImpl.java
  model/src/main/resources/basedata/nav-ansatte.json
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: kontrakt, mocks, web, pom

feat: Legger om entra token grupper til å være den samme oid på tværs av entra og msgraph api. (#1542)
  LICENSE
  README.md
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NavAnsatt.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/BasisdataProviderFileImpl.java
  model/src/main/resources/basedata/nav-ansatte.json
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: kontrakt, mocks, web, pom

POFIM-102: Unngå NPE
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
Labels: mocks

POFIM-102: Unngå NPE (#1548)
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
Labels: mocks

Bugfix: Slett ubrukt record som lager Win-konflikt
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
Labels: kontrakt

Bugfix: Slett ubrukt record som lager Win-konflikt (#1549)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
Labels: kontrakt

POFIM-102: Må også mocke oppgaveUtgaatt for å unngå feilmeldinger i loggene til VTP og K9-Inntektsmelding under kjøring av verdikjedetest
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

POFIM-102: Må også mocke oppgaveUtgaatt for å unngå feilmeldinger i loggene til VTP og K9-Inntektsmelding under kjøring av verdikjedetest
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

POFIM-100: Retter staving i mock for utgått oppgave
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

POFIM-100: Retter staving i mock for utgått oppgave
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

POFIM-102: Fjernet duplikat case
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

POFIM-102: Fjernet duplikat case (#1557)
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
Labels: mocks

Fix: Inntektskomponenten returnerer inntekt for nåværende måned.
  Dockerfile
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/modell/HentInntektlisteBolkMapperRest.java
Labels: mocks

Fix: Inntektskomponenten returnerer inntekt for nåværende måned. (#1567)
  Dockerfile
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/modell/HentInntektlisteBolkMapperRest.java
Labels: mocks

UDEFINERT -> UGRADERT i pdl pip mock
  mocks/pdl-mock/src/main/java/no/nav/pip/PdlPipMock.java
  mocks/pdl-mock/src/main/java/no/nav/pip/TilgangPersondataDto.java
Labels: mocks

Bruker JDK_JAVA_OPTIONS variabel
  Dockerfile
Labels: none

Fjerner flagget som ikke støttes i GHA
  Dockerfile
Labels: none

chore: bruker et image med apple m4 fix
  Dockerfile
Labels: none

chore: bruker et image med apple m4 fix (#1575)
  Dockerfile
Labels: none

Publiserer ForelderBarnRelasjon hendelser ved fødselshendelser.
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/ForelderBarnRelasjonHendelseDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/forelderbarnrelasjon/ForelderBarnRelasjon.avdl
Labels: kontrakt, web

Fikser forelderrolle.
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

Legger til JsonSubType for ForelderBarnRelasjonHendelseDto.
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/PersonhendelseDto.java
Labels: kontrakt

Legger på queryParam for å kunne opt-in på fødselshendelser
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/HendelseTest.java
Labels: web

Publiserer ForelderBarnRelasjon hendelser ved fødselshendelser. (#1577)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/ForelderBarnRelasjonHendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/PersonhendelseDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/forelderbarnrelasjon/ForelderBarnRelasjon.avdl
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/HendelseTest.java
Labels: kontrakt, web

Fikser publisering av pakker.
  .github/workflows/release.yml
Labels: none

Revert "Fikser publisering av pakker."
  .github/workflows/release.yml
Labels: none

Null-safe sjekk ved publisering fødselshendelse
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

Trenger executable pre-commit
  .githooks/pre-commit
Labels: none
