Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

.github/labeler.yml:

kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['model/src/main/java/**/*', 'kontrakter/src/main/java/**/*']

mocks:
  - changed-files:
      - any-glob-to-any-file: ['mocks/**/src/main/java/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['server/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']

FIX: Legger til skatteoppgjoersdato i respons fra sigrunmock så sjekk på ferdiglignet inntekt fungerer også i vtp
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, web

FIX: Legger til skatteoppgjoersdato i respons fra sigrunmock så sjekk… (#1308)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, web

Ta med korrekt input til inntektsposter for ytelser
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/InntektYtelseType.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/InntektsperiodeDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, web

Ta med korrekt input til inntektsposter for ytelser (#1327)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/InntektYtelseType.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/InntektsperiodeDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, web

simulere inntektsfilter
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/InntektYtelseType.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/HentInntektlisteBolkREST.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/modell/HentInntektlisteBolkMapperRest.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektYtelseType.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/Inntektsperiode.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/InntektskomponentSeraliseringDeseraliseringsTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

simulere inntektsfilter (#1328)
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/InntektYtelseType.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/HentInntektlisteBolkREST.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/modell/HentInntektlisteBolkMapperRest.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektYtelseType.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/InntektskomponentModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/Inntektsperiode.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/InntektskomponentSeraliseringDeseraliseringsTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

Ta med lønnsinntekt i 8-28 og 8-30
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/modell/HentInntektlisteBolkMapperRest.java
Labels: mocks

Ta med lønnsinntekt i 8-28 og 8-30 (#1329)
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/modell/HentInntektlisteBolkMapperRest.java
Labels: mocks

Ta med organisasjon fra inntekt
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/OrganisasjonsmodellMapper.java
Labels: web

Takle tomme orgdetaljer
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/OrganisasjonsmodellMapper.java
Labels: web

Ta med organisasjon fra inntekt (#1332)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/OrganisasjonsmodellMapper.java
Labels: web

Spøkelse-mock
  mocks/pom.xml
  mocks/spokelse-mock/pom.xml
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SykepengeVedtak.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Spøkelse-mock (#1336)
  mocks/pom.xml
  mocks/spokelse-mock/pom.xml
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SykepengeVedtak.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web, pom

Generell postinfotrygd grunnlag
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
Labels: mocks

Generell post infotrygd grunnlag (#1351)
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
Labels: mocks

Riktig path infotrygd sykepenger
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
Labels: mocks

Riktig path infotrygd sykepenger (#1352)
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
Labels: mocks

Velger jfr-topic fra env hvis satt
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/hendelse/JournalforingHendelseSender.java
Labels: web

Velger jfr-topic fra env hvis satt (#1373)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/hendelse/JournalforingHendelseSender.java
Labels: web

Update release.yml
  .github/workflows/release.yml
Labels: none

Fikse header for sigrun/pgi
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
Labels: mocks

Fikse header for sigrun/pgi (#1379)
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
Labels: mocks

Fikser testene.
  mocks/saf-mock/src/test/java/GraphQLTjenesteTest.java
Labels: none

Utvider ms graph mock
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/BasisdataProviderFileImpl.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: kontrakt, mocks, web

Utvider ms graph mock (#1391)
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/BasisdataProviderFileImpl.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: kontrakt, mocks, web

Legger inn MS graph /users /groups mock
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
Labels: kontrakt, mocks, web

Legger inn MS graph /users /groups mock (#1393)
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/resources/basedata/nav-ansatte.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
Labels: kontrakt, mocks, web

Fix: Gruppenavn er case sensitive.
  model/src/main/resources/basedata/nav-ansatte.json
Labels: none

Fix: Gruppenavn er case sensitive. (#1394)
  model/src/main/resources/basedata/nav-ansatte.json
Labels: none

Fix: Finner ikke brukere over oid siden de ikke settes på OBO tokene
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: web

Fix: manglende nonce mot siste wonderwall
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
Labels: web

POST-variant av spøkelsemock
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
Labels: mocks

POST-variant av spøkelsemock (#1407)
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
Labels: mocks

Fjerne GET fra Spøkelse og Infotrygd
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
Labels: mocks

Fjerne GET fra Spøkelse og Infotrygd (#1408)
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
Labels: mocks

Legger ti1 pid med verdi fra subject.
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

Legger til pid med verdi fra subject. (#1415)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

TFP-5786: Nødvendige tilpasninger autentsieringsserveren for IDPORTEN for å få selvbetjening på wonderwall
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2AccessTokenResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/WellKnownResponse.java
Labels: web

Deprecated endepunkt som ikke skal burkes lenger
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
Labels: web

LDAP og MS Graph api bruker epost som upn
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
Labels: mocks
