Repository navikt/vtp, changes with the labels that .github/labeler.yml gives for each.
All labels: kontrakt, mocks, web, pom

Chore: mer kafka cleanup
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaTopicDto.java
Labels: web

Chore: mer kafka cleanup (#1694)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaTopicDto.java
Labels: web

Legg til tilleggsopplysninger felt i JournalpostModell for k9-punsj kompatibilitet (#1691)
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/Tilleggsopplysning.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/JournalRepoTest.java
Labels: kontrakt

Chore: Java 25 for sif også
  .java-version
  k9.Dockerfile
Labels: none

fix: legg til tilleggsopplysninger i JournalpostBuilder for SAF GraphQL
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  mocks/saf-mock/src/test/java/GraphQLTjenesteTest.java
Labels: mocks

fix: add null check for avsenderMottaker idType in JournalpostMapper (dokarkiv mock)
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
Labels: mocks

Fikser tilOpprettJouralpostResponse() så den ikke alltid ferdigstiller
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
Labels: mocks

Sender journalføringshendelse dersom tittel:
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/BehandlingsTema.java
Labels: kontrakt, mocks

Slett log i GraphQLTjenesteTest
  mocks/saf-mock/src/test/java/GraphQLTjenesteTest.java
Labels: none

fix
  mocks/saf-mock/src/test/java/GraphQLTjenesteTest.java
Labels: none

Fix: forbedre VTP Dokarkiv og SAF kompatibilitet med k9-punsj (#1696)
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  mocks/saf-mock/src/test/java/GraphQLTjenesteTest.java
Labels: mocks

Definerer behandlingstema for Ungdomsprogramytelsen.
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/BehandlingsTema.java
Labels: kontrakt

Setter offisiellKode på UDEFINERT til null.
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/BehandlingsTema.java
Labels: kontrakt

Fikser tilOpprettJouralpostResponse() så den ikke alltid ferdigstiller (#1697)
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/BehandlingsTema.java
Labels: kontrakt, mocks

Fikser sjekk på tittel for ungdomsprogramytelse
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
Labels: mocks

TFP-6419: Bytter fra distroless til chainguard tag.
  .project
  Dockerfile
Labels: none

TFP-6419: Bytter fra distroless til chainguard tag. (#1699)
  .project
  Dockerfile
Labels: none

støtte for liste-respons
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: web

støtte for liste-respons (#1709)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: web

Chore: Retter fagermock til å sjekke unik eksternId istedenfor grupperingId for beskjeder pr sak
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerWiring.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
Labels: kontrakt, mocks

Chore: Retter fagermock til å sjekke unik eksternId istedenfor gruppe… (#1711)
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/beskjed/BeskjedFagerWiring.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
Labels: kontrakt, mocks

støtt tokenx for texas
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenExchangeRequest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: web

støtt azuread
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

revert
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: none

fiks skippa test
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: none

QA feedback
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/texas/TexasRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: web

rename
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
Labels: web

legg til i ApplicationConfig
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/texas/TexasRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

legg på exchange
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/texas/TexasRestTjeneste.java
Labels: web

Støtt Oasis v4 som benytter texas (#1719)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/texas/TexasRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenExchangeRequest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

chore: Fjerner ubrukt gsak-mock og unødvendige jsonformats
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/AnsettelsesperiodeRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/ArbeidsavtaleRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/ArbeidsforholdRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/OpplysningspliktigArbeidsgiverRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/PeriodeRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/PermisjonPermitteringRS.java
  mocks/gsak-mock/pom.xml
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/rs/SakJson.java
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/rs/SakRestMock.java
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/v1/GsakRepo.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonNoekkelinfo.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  mocks/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/AdresseEReg.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: kontrakt, mocks, web, pom

chore: Fjerner ubrukt gsak-mock og unødvendige jsonformats (#1721)
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/AnsettelsesperiodeRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/ArbeidsavtaleRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/ArbeidsforholdRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/OpplysningspliktigArbeidsgiverRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/PeriodeRS.java
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/PermisjonPermitteringRS.java
  mocks/gsak-mock/pom.xml
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/rs/SakJson.java
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/rs/SakRestMock.java
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/v1/GsakRepo.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonNoekkelinfo.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  mocks/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/AdresseEReg.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: kontrakt, mocks, web, pom

Chore: Change Dependabot update schedule to weekly
  .github/dependabot.yml
Labels: none

Fiks: Lagre tilleggsopplysninger på journalpost
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
Labels: mocks

Fiks: Lagre tilleggsopplysninger på journalpost (#1725)
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
Labels: mocks

POST-endepunkt for pensjonsgivendeinntektforfolketrygden
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/PensjonsgivendeInntektForFolketrygdenRequest.java
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
Labels: mocks

Fjerne hardkoding av rettighetspakke
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/PensjonsgivendeInntektForFolketrygdenRequest.java
Labels: mocks

POST-endepunkt for pensjonsgivendeinntektforfolketrygden (#1726)
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/PensjonsgivendeInntektForFolketrygdenRequest.java
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
Labels: mocks

Utleder endret inntekt basert på oppdatert testscenario for å støtte hendelser fra inntektskomponenten
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/InntektskomponentV2REST.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/modell/AbonnementAdministrasjonOpprettApiUt.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/inntektskomponenten/modell/AbonnementHendelse.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/InntektYtelseIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/inntektkomponent/EndretInntektHendelse.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/TestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/TestscenarioImpl.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioBuilderRepositoryImpl.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioFraJsonMapper.java
Labels: kontrakt, mocks

bugfix: Forbedre testdata - nytt syntetisk pattern
  model/src/test/resources/scenarios/1-for-enhetstester/inntektytelse-annenpart.json
  model/src/test/resources/scenarios/1-for-enhetstester/inntektytelse-søker.json
Labels: none

.github/labeler.yml:

kontrakt:
  - changed-files:
      - any-glob-to-any-file: ['model/src/main/java/**/*', 'kontrakter/src/main/java/**/*']

mocks:
  - changed-files:
      - any-glob-to-any-file: ['mocks/**/src/main/java/**/*']

web:
  - changed-files:
      - any-glob-to-any-file: ['server/src/main/java/**/*']

pom:
  - changed-files:
      - any-glob-to-any-file: ['**/*/pom.xml', 'pom.xml']
