Repository navikt/vtp, pull requests merged in 2021-02, with the labels that each got.

#676 PDL: Oppdaterer familierelasjon.
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/AdresseAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/DoedfoedtBarnAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/FamilierelasjonAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/FamilierelasjonBygger.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlFamilierelasjonTest.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlTestBase.java
  model/src/test/resources/scenarios/1-for-enhetstester/personopplysning.json
Labels: mocks

#678 Dokarkiv: Oppdatere mock og konvertere DokumenttypeId til enum ...
  mocks/dokumentproduksjon-mock/src/main/java/no/nav/tjeneste/virksomhet/dokumentproduksjon/v2/DokumentproduksjonV2MockImpl.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/DokumenttypeId.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/JournalRepositoryImpl.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/JournalRepoTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/JournalforingRestTjeneste.java
Labels: kontrakt, mocks, web

#679 Oppdatere Dockerfile og bygging
  Dockerfile
  run-java.sh
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: pom, web

#683 Legger til dummy-mock for IT saker.
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttedeSaker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/IkkeStartetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/LøpendeSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Sak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakResultat.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakType.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saksnummer.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Utbetaling.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfig.java
Labels: mocks, web

#686 TFP-3964 Oppdatert JournalpostMock og tjenesten tilknyttVedlegg slik …
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
Labels: mocks

#688 NOJIRA cap saksnummer
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/v1/GsakRepo.java
Labels: mocks

#687 Gjør vtp mer thread-safe.
  mocks/dokumentproduksjon-mock/src/main/java/no/nav/tjeneste/fpformidling/FpFormidlingMock.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/saf-mock/src/main/java/no/nav/saf/graphql/GraphQLTjeneste.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/DokumenttypeId.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/infotrygd/beregningsgrunnlag/InfotrygdArbeidskategori.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/JournalRepositoryImpl.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioRepositoryImpl.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/virksomhet/VirksomhetIndeks.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/TestscenarioHenter.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/rest/auth/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/rest/auth/OpenAMRestService.java
Labels: kontrakt, mocks, web

#689 NOJIRA fix sak mock søk på fagsakNr
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/rs/SakJson.java
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/rs/SakRestMock.java
Labels: mocks

#691 Publiseres sources for modulene core og testmodell
  core/pom.xml
  model/pom.xml
Labels: pom

#692 Oppdaterer dokdist mock med mer fullverdig response.
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
Labels: mocks

#695 NOJIRA fjerner ubrukte tps og joark mocks
  mocks/joark-mock/journal/pom.xml
  mocks/joark-mock/journal/src/main/resources/foreldrepenger_soknad.pdf
  mocks/joark-mock/journal/src/main/resources/termin_bekreftelse.pdf
  mocks/joark-mock/pom.xml
  mocks/joark-mock/src/main/java/no/nav/tjeneste/virksomhet/journal/modell/JournalpostV3Bulider.java
  mocks/joark-mock/src/main/java/no/nav/tjeneste/virksomhet/journal/v3/JournalV3ServiceMockImpl.java
  mocks/medl-mock/medlem/pom.xml
  mocks/pom.xml
  mocks/tps-mock/pom.xml
  mocks/tps-mock/src/main/java/no/nav/aktoerregister/rest/api/v1/AktoerIdentMock.java
  mocks/tps-mock/src/main/java/no/nav/aktoerregister/rest/api/v1/Identinfo.java
  mocks/tps-mock/src/main/java/no/nav/aktoerregister/rest/api/v1/IdentinfoForAktoer.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/aktoer/v2/AktoerServiceMockImpl.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/AdresseAdapter.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/BostedsadresseAdapter.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/FamilierelasjonAdapter.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/FinnPerson.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/PersonAdapter.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/PersonServiceMockImpl.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/PersonstatusAdapter.java
  mocks/tps-mock/src/main/java/no/nav/tjeneste/virksomhet/person/v3/StatsborgerskapAdapter.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfig.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/SoapWebServiceConfig.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/PersonServiceMockTest.java
Labels: mocks, pom, web

#696 Arbeidsforholdstype for frilans
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/arbeidsforhold/Arbeidsforholdstype.java
Labels: kontrakt

#697 Oppdatere AaregRSV1Mock og lager enhetstester
  mocks/arbeidsforhold-mock/pom.xml
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/AaregRSV1Mock.java
  mocks/arbeidsforhold-mock/src/test/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/AaregRSV1MockTest.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  model/src/test/resources/scenarios/1-for-enhetstester/inntektytelse-annenpart.json
Labels: mocks, pom

#702 fix: returnerer barnIdentAktørId map slik at scenario også har tilgan…
  core/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/TestscenarioPersonopplysningDto.java
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/rs/SakJson.java
  mocks/norg2-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsfordeling/rest/ArbeidsfordelingRestMock.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/KravgrunnlagGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/SimuleringGenerator.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/AdresseEReg.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioRestTjeneste.java
Labels: kontrakt, mocks, web

#704 Testscenario returner kjønn.
  core/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/TestscenarioPersonopplysningDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioRestTjeneste.java
Labels: kontrakt, web

#705 Aareg: Legger til muligheten for å sortere på arbeidsforhold ved arbe…
  mocks/arbeidsforhold-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/AaregRSV1Mock.java
  mocks/arbeidsforhold-mock/src/test/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/AaregRSV1MockTest.java
  model/src/test/resources/scenarios/1-for-enhetstester/inntektytelse-annenpart.json
Labels: mocks
