Repository navikt/vtp, pull requests merged in 2021-01, with the labels that each got.

#657 Revert "Bump graphql-codegen-maven-plugin from 4.0.1 to 4.1.1 (#654)"
  mocks/pdl-mock/pom.xml
  mocks/saf-mock/pom.xml
Labels: pom

#661 dummy endring av kontrakt
  core/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/FamilierelasjonHendelseDto.java
Labels: kontrakt

#663 fix cp
  pom.xml
  server/pom.xml
Labels: pom

#666 Adresse på annenpart og barn defaulter til samme adresse som søker hvis ikke satt.
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/TestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/DelegatingTestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioBuilderRepositoryImpl.java
  model/src/test/resources/scenarios/1-for-enhetstester/personopplysning.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: kontrakt, web

#642 PdlMock: Legger til støtte for hentGeografiskTilknytning.
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningCoordinator.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/GeografiskTilknytningAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl-api-sdl.graphqls
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
Labels: mocks

#671 TFP-3964 Lagt til tilknyttVedlegg tjenesten for JournalpostMock. Bruk…
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
Labels: mocks

#670 Utvidet journalpostmodell med avsendermottaker
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
Labels: kontrakt, mocks
