Repository navikt/vtp, pull requests merged in 2021-03, with the labels that each got.

#703 FIX: Legger til en tjeneste som gjør det mulig å melde inn siste saks…
  core/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/TilbakekrevingKonsistensDto.java
  mocks/oppdrag-mock/pom.xml
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/KravgrunnlagGenerator.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/TilbakekrevingKonsistensTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfig.java
Labels: kontrakt, mocks, pom, web

#713 fix: flytter dto til testmodell
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalforingResultatDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/JournalforingRestTjeneste.java
Labels: kontrakt, web

#720 Bruker orgnummer for id i kravgrunnlag.
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/KravgrunnlagGenerator.java
Labels: mocks
