Repository navikt/vtp, pull requests merged in 2022-02, with the labels that each got.

#900 TFP-4839: Legger til mock for pesys harUføretrygd
  mocks/pesys-mock/pom.xml
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/PesysMock.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/HentUforehistorikkResponseDto.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/UforeTypeCtiDto.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/UforehistorikkDto.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/UforeperiodeDto.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/UføreTypeCode.java
  mocks/pesys-mock/src/test/java/no/nav/mock/pesys/HentUforeHistorikkResponseSeraliseringTest.java
  mocks/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AnnenPartModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/SøkerModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/VoksenModell.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfig.java
Labels: pom, kontrakt, mocks, web

#753 Skriver om til bruk av Jersey server
  mocks/arbeidsforhold-mock/pom.xml
  mocks/arena-mock/pom.xml
  mocks/axsys-enhetstilgang-mock/pom.xml
  mocks/dkif-mock/pom.xml
  mocks/dokdist-mock/pom.xml
  mocks/dokdist-mock/src/main/java/no/nav/dokdistfordeling/DokdistfordelingMock.java
  mocks/dummy-mock/pom.xml
  mocks/gsak-mock/pom.xml
  mocks/infotrygd-mock/pom.xml
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/java/no/nav/infotrygdpaaroerendesykdom/rest/PårørendeSykdomMock.java
  mocks/inntekt-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  mocks/medl-mock/pom.xml
  mocks/norg2-mock/pom.xml
  mocks/omsorgspenger-rammemeldinger-mock/pom.xml
  mocks/oppdrag-mock/pom.xml
  mocks/oppgave-mock/pom.xml
  mocks/organisasjon-mock/pom.xml
  mocks/pdl-mock/pom.xml
  mocks/pesys-mock/pom.xml
  mocks/saf-mock/pom.xml
  mocks/sigrun-mock/pom.xml
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
  mocks/skjermet-person-mock/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/RestConfig.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/resources/logback.xml
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/SerializationTestBase.java
Labels: pom, mocks, web, Jersey

#907 Revert "Revert "Skriver om til bruk av Jersey server (#753)""
  mocks/arbeidsforhold-mock/pom.xml
  mocks/arena-mock/pom.xml
  mocks/axsys-enhetstilgang-mock/pom.xml
  mocks/dkif-mock/pom.xml
  mocks/dokdist-mock/pom.xml
  mocks/dokdist-mock/src/main/java/no/nav/dokdistfordeling/DokdistfordelingMock.java
  mocks/dummy-mock/pom.xml
  mocks/gsak-mock/pom.xml
  mocks/infotrygd-mock/pom.xml
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/java/no/nav/infotrygdpaaroerendesykdom/rest/PårørendeSykdomMock.java
  mocks/inntekt-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  mocks/medl-mock/pom.xml
  mocks/norg2-mock/pom.xml
  mocks/omsorgspenger-rammemeldinger-mock/pom.xml
  mocks/oppdrag-mock/pom.xml
  mocks/oppgave-mock/pom.xml
  mocks/organisasjon-mock/pom.xml
  mocks/pdl-mock/pom.xml
  mocks/pesys-mock/pom.xml
  mocks/saf-mock/pom.xml
  mocks/sigrun-mock/pom.xml
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
  mocks/skjermet-person-mock/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/RestConfig.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  server/src/main/resources/logback.xml
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/SerializationTestBase.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: pom, mocks, web

#911 Bumper nimbus, graphql, mockito, slf4j, swagger, jaxws-rt
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenter/HentIdenterCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenter/HentIdenterWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentperson/HentPersonCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentperson/HentPersonWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/GeografiskTilknytningAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/SivilstandBygger.java
  pom.xml
  server/pom.xml
Labels: pom, mocks

#913 Bumper kafka og conflunent til 3.1.0 og 7.0.1
  pom.xml
Labels: pom
