Repository navikt/vtp, pull requests merged in 2022-06, with the labels that each got.

#988 Felles BOM + snyk scan
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/release-kontrakt.yml
  .github/workflows/snyk.yml
  kontrakter/pom.xml
  mocks/arbeidsforhold-mock/pom.xml
  mocks/arena-mock/pom.xml
  mocks/axsys-enhetstilgang-mock/pom.xml
  mocks/dkif-mock/pom.xml
  mocks/dokdist-mock/pom.xml
  mocks/dummy-mock/pom.xml
  mocks/gsak-mock/pom.xml
  mocks/infotrygd-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/inntekt-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  mocks/kafka-embedded-mock/pom.xml
  mocks/ldap-mock/pom.xml
  mocks/medl-mock/medlem/pom.xml
  mocks/medl-mock/pom.xml
  mocks/norg2-mock/pom.xml
  mocks/omsorgspenger-rammemeldinger-mock/pom.xml
  mocks/oppdrag-mock/pom.xml
  mocks/oppgave-mock/pom.xml
  mocks/organisasjon-mock/pom.xml
  mocks/pdl-mock/pom.xml
  mocks/pesys-mock/pom.xml
  mocks/pom.xml
  mocks/saf-mock/pom.xml
  mocks/sigrun-mock/pom.xml
  mocks/skjermet-person-mock/pom.xml
  model/pom.xml
  pom.xml
  server/pom.xml
  util/pom.xml
Labels: pom

#990 Oppdatert PDL skjema, sanere Familierelasjoner og tilsv Leesah
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/FamilierelasjonHendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/PersonhendelseDeserializer.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/FamilierelasjonAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/FamilierelasjonBygger.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/ForelderBarnRelasjonAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/ForelderBarnRelasjonBygger.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl-api-sdl.graphqls
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlFamilierelasjonTest.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/familierelasjon/Familierelasjon.avdl
Labels: mocks, web

#992 Forsøk revert leesah-endringer
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/FamilierelasjonHendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/PersonhendelseDeserializer.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlForelderBarnRelasjonTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/familierelasjon/Familierelasjon.avdl
Labels: web

#993 Relaxer snyk warnings.
  Dockerfile
  kontrakter/pom.xml
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/UserRepository.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/SSLUtilities.java
Labels: pom, mocks, web

#995 Fjerner duplisert logging ved exceptions, e.printStackTrace og e.getM…
  mocks/arbeidsforhold-mock/src/test/java/no/nav/tjeneste/virksomhet/arbeidsforhold/rs/AaregRSV1MockTest.java
  mocks/arena-mock/src/main/java/no/nav/tjeneste/virksomhet/arena/meldekort/MeldekortUtbetalingsgrunnlagMockImpl.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigdirKrrProxyMock.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinformasjonMock.java
  mocks/dkif-mock/src/test/java/no/nav/dkif/DKIFOgDigdirKrrProxyTjenesteTest.java
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/HentInntektlisteBolkREST.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  mocks/norg2-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsfordeling/rest/ArbeidsfordelingRestMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlMock.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlForelderBarnRelasjonTest.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AdresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/BasisdataProviderFileImpl.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/HendelseTest.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/SSLUtilities.java
Labels: kontrakt, mocks, web

#996 Rydder opp i AdresseModellene, fjerner clone og erstater med copy constructor
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AdresseIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AdresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AdresseRefModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AdresseType.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Diskresjonskoder.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/GateadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Periodisert.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PostboksadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/UstrukturertAdresseModell.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/ScenarioTest.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AdresseIndeksTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: kontrakt, mocks, web
