Repository navikt/vtp, pull requests merged in 2022-01, with the labels that each got.

#871 Fjerner Kodeverk Webservice + sonarcloud fikser
  mocks/gsak-mock/src/main/java/no/nav/tjeneste/virksomhet/sak/v1/GsakRepo.java
  mocks/kodeverk-mock/pom.xml
  mocks/kodeverk-mock/src/main/java/no/nav/tjeneste/virksomhet/kodeverk/v2/KodeverkServiceMockImpl.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/TilbakekrevingKonsistensTjeneste.java
  mocks/oppdrag-mock/src/main/java/no/nav/system/os/eksponering/PeriodeGenerator.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/AdresseAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/DoedfoedtBarnAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/FamilierelasjonBygger.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/GeografiskTilknytningAdapter.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pom.xml
  mocks/saf-mock/src/main/java/no/nav/saf/SafMock.java
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/identer/LokalIdentIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/AdresseType.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Landkode.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonArbeidsgiver.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/DelegatingTestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioBuilderRepositoryImpl.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/util/TestdataUtil.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/InfotrygdSeraliseringDeseraliseringsTest.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/SoapWebServiceConfig.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: pom, kontrakt, mocks, web

#878 Legger til nye post endepunkter for pårørende sykdom
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/java/no/nav/infotrygdpaaroerendesykdom/rest/PersonRequest.java
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/java/no/nav/infotrygdpaaroerendesykdom/rest/PårørendeSykdomMock.java
Labels: mocks

#879 Legger til fnr søker i grunnlagrespons
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/java/no/nav/infotrygdpaaroerendesykdom/rest/PårørendeSykdomMock.java
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/swagger/swagger.json
Labels: mocks

#880 Legger inn nullsjekk
  mocks/infotrygd-paaroerende-sykdom-mock/src/main/java/no/nav/infotrygdpaaroerendesykdom/rest/PårørendeSykdomMock.java
Labels: mocks

#884 Støtte mottakskanal (i journalpostmodell)
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/JournalpostModellGenerator.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/Arkivfiltype.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/koder/Mottakskanal.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/JournalpostSeraliseringDeseraliseringsTest.java
Labels: kontrakt, mocks

#885 Korrigerer serialisering av Kanal til Avro
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/hendelse/JournalforingHendelseSender.java
Labels: web

#886 Trenger ulike paths for issuers
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
  .github/workflows/release-kontrakt.yml
  kontrakter/pom.xml
  model/pom.xml
  pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
Labels: pom, web

#899 Utvide arenamock med å håndere både aktørid og fnr
  mocks/arena-mock/src/main/java/no/nav/tjeneste/virksomhet/arena/meldekort/MeldekortUtbetalingsgrunnlagMockImpl.java
Labels: mocks
