Repository navikt/vtp, pull requests merged in 2022-04, with the labels that each got.

#953 Utvider vedtak for Trex
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/Vedtak.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/TrexModellSeraliseringDeseralseringsTest.java
Labels: kontrakt

#955 Legger til endepunkt for post for henting av psb-grunnlag i infotrygd
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/PersonRequest.java
Labels: mocks

#956 Nytt og forenklet endepunkt for Uføretrygd
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/UføreMock.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/HarUføreGrad.java
  mocks/pesys-mock/src/test/java/no/nav/mock/pesys/HarUføreGradResponseSeraliseringTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

#967 Fjerne gammel pesys-mock
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/PesysMock.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/HentUforehistorikkResponseDto.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/UforeTypeCtiDto.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/UforehistorikkDto.java
  mocks/pesys-mock/src/main/java/no/nav/mock/pesys/dto/UforeperiodeDto.java
  mocks/pesys-mock/src/test/java/no/nav/mock/pesys/HentUforeHistorikkResponseSeraliseringTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: mocks, web

#943 Legger til DigdirKrrProxyMock og deprecater gammel DKIFMock
  mocks/dkif-mock/pom.xml
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigdirKrrProxyMock.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinfoResponsDto.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinformasjonMock.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/Kontaktinformasjon.java
  mocks/dkif-mock/src/test/java/no/nav/dkif/DKIFOgDigdirKrrProxyTjenesteTest.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: pom, mocks, web

#972 Utvider cors med ekstra swagger header.
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: web
