Repository navikt/vtp, pull requests merged in 2023-09, with the labels that each got.

#1208 Siste versjon av journalhendelse
  pom.xml
Labels: pom

#1209 Dependabot: ingorerer teamdokumenthandtering-avro-schemas som ikke fø…
  .github/dependabot.yml
  pom.xml
Labels: pom

#1211 Implementert idporten støtte. Forenkling azure. Generell rydding.
  pom.xml
  server/application.properties
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/JsonWebKeyHelper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/KeyStoreTool.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2AccessTokenResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/Oauth2RequestParameterNames.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/WellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/aadfp/EnkelAADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/abac/PdpRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/LoginserviceLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/EndUserAuthenticateSuccess.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/EndUserAuthenticateTemplate.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/OidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenExchangeResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenXWellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: pom, web

#1212 Legg på idtyp-claim i VTP-token
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
Labels: web

#1213 Flyttet jetty over til 12. Obs på endring i jetty pakker.
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/identer/FoedselsnummerGenerator.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/GateadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Personopplysninger.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PostboksadresseModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/UstrukturertAdresseModell.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: pom, kontrakt, web
