Repository navikt/vtp, pull requests merged in 2023-06, with the labels that each got.

#1163 Utvide EREG-navn med sammensattnavn
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
Labels: mocks

#1165 Fix: En helg test + bom 0.5.5
  README.md
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
  pom.xml
Labels: pom

#1166 Oppdatere kontrakt for å støtte jackson 2.15
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/arbeidsforhold/ArbeidsforholdModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/Orgnummer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/Prosent.java
Labels: kontrakt

#1168 Sommerrengjøring: Rydder opp i pom filer og avhengigheter 1
  mocks/arbeidsforhold-mock/pom.xml
  mocks/axsys-enhetstilgang-mock/pom.xml
  mocks/dkif-mock/pom.xml
  mocks/dokdist-mock/pom.xml
  mocks/dummy-mock/pom.xml
  mocks/fpwsproxy-mock/pom.xml
  mocks/gsak-mock/pom.xml
  mocks/infotrygd-mock/pom.xml
  mocks/infotrygd-paaroerende-sykdom-mock/pom.xml
  mocks/inntekt-mock/pom.xml
  mocks/journalpost-mock/pom.xml
  mocks/medl-mock/pom.xml
  mocks/norg2-mock/pom.xml
  mocks/omsorgspenger-rammemeldinger-mock/pom.xml
  mocks/oppdrag-mock/pom.xml
  mocks/oppgave-mock/pom.xml
  mocks/organisasjon-mock/pom.xml
  mocks/pdl-mock/pom.xml
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlFunctionalException.java
  mocks/pesys-mock/pom.xml
  mocks/pom.xml
  mocks/saf-mock/pom.xml
  mocks/saf-mock/src/main/java/no/nav/saf/exceptions/SafFunctionalException.java
  mocks/sigrun-mock/pom.xml
  mocks/skjermet-person-mock/pom.xml
  pom.xml
  server/pom.xml
Labels: pom, mocks

#1170 Legger til hentPersonBolk i pdl mock + rydding i logger
  mocks/dokdist-mock/src/main/java/no/nav/dokdistfordeling/DokdistfordelingMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlMock.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentGeografiskTilknytning/HentGeografiskTilknytningWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenter/HentIdenterWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkCoordinator.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkCoordinatorFunction.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentIdenterBolk/HentIdenterBolkWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentperson/HentPersonWiring.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/hentpersonBolk/HentPersonBolkWiring.java
Labels: mocks

#1171 Fix: Lager egen Medlemskapsunntak dto.
  mocks/medl-mock/pom.xml
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/Medlemskapsunntak.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakAdapter.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakMock.java
  pom.xml
Labels: pom, mocks

#1169 Fjerner deprekert dkif mock som er erstattet av digdir
  mocks/digdir-mock/pom.xml
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjon.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinfoResponsDto.java
  mocks/dkif-mock/src/main/java/no/nav/dkif/DigitalKontaktinformasjonMock.java
  mocks/pom.xml
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: pom, mocks, web

#1174 Skjermet person bulk request
  mocks/skjermet-person-mock/src/main/java/no/nav/nom/SkjermetPersonMock.java
Labels: mocks

#1175 Bruker de offisiele avro skjemaer fra teamdokumenthåndtering.
  pom.xml
  server/pom.xml
Labels: pom

#1177 Ny konvensjon axsys v2
  mocks/axsys-enhetstilgang-mock/src/main/java/no/nav/axsys/AxsysEnhetstilgangV2Mock.java
Labels: mocks
