Repository navikt/vtp, pull requests merged in 2023-11, with the labels that each got.

#1258 Legger til rolle for PIP for bruk i verdikjede
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/StandardSaksbehandlere.java
Labels: web

#1248 Bump fp-kontrakter for å få med støtte for k9-ytelser
  mocks/fpwsproxy-mock/src/test/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/OppdragKontrollTilBeregningMapperTest.java
  pom.xml
Labels: pom

#1259 Fix NPE familierelasjon
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/Personopplysninger.java
Labels: kontrakt

#1260 endrer til koder for k9 ytelsetyper
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/YtelseType.java
Labels: mocks

#1265 TFP-5340: Fjerner forelderpenger/svangerskapspenger fra infotrygdmock…
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/GrunnlagDto.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/InfotrygdMock.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttedeSaker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/AvsluttetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/IkkeStartetSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/LøpendeSak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Sak.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakResultat.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/SakType.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saker.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Saksnummer.java
  mocks/infotrygd-mock/src/main/java/no/nav/tjeneste/virksomhet/infotrygd/rest/saker/Utbetaling.java
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/trex/TRexModell.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/ScenarioTest.java
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/TrexModellSeraliseringDeseralseringsTest.java
  model/src/test/resources/scenarios/1-for-enhetstester/inntektytelse-søker.json
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

#1269 La til kode for FRISINN
  mocks/fpwsproxy-mock/src/main/java/no/nav/foreldrepenger/fpwsproxy/oppdrag/YtelseType.java
Labels: mocks

#1270 TFP-5615 mock for Sigrun PGI
  mocks/sigrun-mock/src/main/java/no/nav/sigrun/SigrunMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/PgiFolketrygdenResponse.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/sigrun/SigrunModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
Labels: kontrakt, mocks, web

#1281 Bumper vtp til java 21 (kontrakter bygges på java 17 for k9)
  .github/workflows/build.yml
  .java-version
  Dockerfile
  kontrakter/pom.xml
  model/pom.xml
  pom.xml
Labels: pom
