Repository navikt/vtp, pull requests merged in 2023-02, with the labels that each got.

#1091 Rydder opp i Ldap server
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  mocks/ldap-mock/src/main/resources/ldap_setup.ldif
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NAVAnsatt.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/BasisdataProvider.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/BasisdataProviderFileImpl.java
  model/src/main/resources/basedata/nav-ansatte.json
  model/src/main/resources/basedata/users.ldif
  model/src/test/java/no/nav/foreldrepenger/vtp/testmodell/jackson/InntektskomponentSeraliseringDeseraliseringsTest.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/UserRepository.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azureAD/AADRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/isso/OpenAMRestService.java
Labels: pom, kontrakt, mocks, web

#1092 Fjerner Arena-mock, unødvendige deseralizers og generell rydding
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/DødfødselhendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/DødshendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/FamilierelasjonHendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/FødselshendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/PersonhendelseDeserializer.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/PersonhendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/TestscenarioDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/TestscenarioPersonopplysningDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/TilbakekrevingKonsistensDto.java
  mocks/arena-mock/pom.xml
  mocks/arena-mock/src/main/java/no/nav/tjeneste/virksomhet/arena/meldekort/MeldekortUtbetalingsgrunnlagMockImpl.java
  mocks/arena-mock/src/main/java/no/nav/tjeneste/virksomhet/arena/meldekort/modell/ArenaMUMapper.java
  mocks/axsys-enhetstilgang-mock/src/main/java/no/nav/axsys/AxsysEnhetstilgangMock.java
  mocks/norg2-mock/src/main/java/no/nav/tjeneste/virksomhet/arbeidsfordeling/rest/ArbeidsfordelingRestMock.java
  mocks/oppdrag-mock/src/main/java/no/nav/okonomi/tilbakekrevingservice/TilbakekrevingServiceMockImpl.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonNoekkelinfo.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  mocks/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/enheter/EnheterIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/enheter/Norg2Modell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/enums/Kjonn.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/enums/Kjønn.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/felles/Orgnummer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/felles/Prosent.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/identer/FiktiveFnr.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/identer/FoedselsnummerGenerator.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/identer/LokalIdentIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/inntektytelse/infotrygd/beregningsgrunnlag/InfotrygdArbeidsforhold.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/AdresseEReg.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonDetaljerModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonModeller.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/util/OrgnummerDeserializer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/util/ProsentDeserializer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/util/StringVarDeserializer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/util/TestdataUtil.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/util/VariabelContainer.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/virksomhet/VirksomhetIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/virksomhet/VirksomhetModell.java
  pom.xml
  server/application.properties
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/PropertiesUtils.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/SoapWebServiceConfig.java
  util/src/main/java/no/nav/foreldrepenger/util/ConversionUtils.java
  util/src/main/java/no/nav/foreldrepenger/util/KeystoreUtils.java
Labels: pom, kontrakt, mocks, web

#1101 Fjerne utgåtte topics
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: web

#1103 Standardisert topic for PDL og Journal
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/hendelse/JournalforingHendelseSender.java
Labels: web

#1104 Hent leesah topc navn fra env
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

#1106 Bom 043 og andre updates
  model/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/util/DeserializerModule.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/auth/rest/tokenx/TokenXTjenesteTest.java
Labels: pom, kontrakt, web
