Repository navikt/vtp, pull requests merged in 2024-11, with the labels that each got.

#1529 Revert "Bump org.apache.zookeeper:zookeeper from 3.9.2 to 3.9.3 in th…
  pom.xml
Labels: pom

#1532 Sett claim oid på vtp-genererte mock-azure-token
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
Labels: web

#1531 POFIM-98: Lager en fager-api-mock for backend og frontend
  mocks/altinn-proxy-mock/src/main/java/no/nav/altinn/AltinnRettigheterProxyMock.java
  mocks/fager-mock/pom.xml
  mocks/fager-mock/src/main/java/no/nav/fager/FagerBasicWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerGraphqlTjeneste.java
  mocks/fager-mock/src/main/java/no/nav/fager/FagerMock.java
  mocks/fager-mock/src/main/java/no/nav/fager/exceptions/FagerFunctionalException.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DateScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DateTimeScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/DurationScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/GraphQLRequest.java
  mocks/fager-mock/src/main/java/no/nav/fager/graphql/LocalDateTimeScalar.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/oppgave/OppgaveFagerWiring.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerCoordinator.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerCoordinatorImpl.java
  mocks/fager-mock/src/main/java/no/nav/fager/sak/SakFagerWiring.java
  mocks/fager-mock/src/main/resources/schemas/produsent.graphql
  mocks/fager-mock/src/test/java/no/nav/fager/FagerGraphqlTjenesteTest.java
  mocks/pom.xml
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/OppgaveModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/arbeidsgiver/SakModell.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/organisasjon/OrganisasjonIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/ArbeidsgiverPortalRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/TestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/ArbeidsgiverPortalRepositoryImpl.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/DelegatingTestscenarioBuilderRepository.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/TestscenarioBuilderRepositoryImpl.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/WellKnownResponse.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: pom, kontrakt, mocks, web

#1537 Fix: Journalføring av en NAV_NO inntektsmelding fører til at en SAF kafka hensese blir trigget
  mocks/journalpost-mock/pom.xml
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalforingHendelseSender.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMapper.java
  mocks/journalpost-mock/src/main/java/no/nav/dokarkiv/JournalpostMock.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/dokument/modell/JournalpostModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/journalforing/JournalforingRestTjeneste.java
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/JournalpostSeraliseringDeseraliseringsTest.java
Labels: pom, kontrakt, mocks, web

#1542 feat: Legger om entra token grupper til å være den samme oid på tværs av entra og msgraph api.
  LICENSE
  README.md
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
  mocks/organisasjon-mock/src/main/java/no/nav/tjeneste/virksomhet/organisasjon/rs/OrganisasjonResponse.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/AnsatteIndeks.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/ansatt/NavAnsatt.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/repo/impl/BasisdataProviderFileImpl.java
  model/src/main/resources/basedata/nav-ansatte.json
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureAdRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/AzureOidcTokenGenerator.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/azuread/MicrosoftGraphApiMock.java
Labels: pom, kontrakt, mocks, web, breaking
