Repository navikt/vtp, pull requests merged in 2024-06, with the labels that each got.

#1421 LDAP og MS Graph api bruker epost som upn
  mocks/ldap-mock/src/main/java/no/nav/foreldrepenger/vtp/ldap/LdapServer.java
Labels: mocks

#1424 Leesah FoedselsdatoV1 oppdatert PDL og SAF
  mocks/pdl-mock/pom.xml
  mocks/pdl-mock/src/main/java/no/nav/pdl/PdlGraphqlTjeneste.java
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/pdl-mock/src/test/java/no/nav/pdl/PdlMockTest.java
  mocks/saf-mock/pom.xml
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostBuilder.java
  mocks/saf-mock/src/main/java/no/nav/saf/JournalpostSelvbetjeningBuilder.java
  mocks/saf-mock/src/main/java/no/nav/saf/graphql/GraphQLTjeneste.java
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/foedselsdato/Foedselsdato.avdl
Labels: pom, mocks, web

#1428 Fjerner deprekerte endepunkt i IdportenLoginTjeneste for innlogging
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/idporten/IdportenLoginTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/sts/STSRestTjeneste.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/auth/rest/tokenx/TokenxRestTjeneste.java
Labels: web

#1426 Slutte å publisere Leesah-Foedsel (kun Foedselsdato)
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web
