Repository navikt/vtp, pull requests merged in 2025-01, with the labels that each got.

#1567 Fix: Inntektskomponenten returnerer inntekt for nåværende måned.
  Dockerfile
  mocks/inntekt-mock/src/main/java/no/nav/vtp/hentinntektlistebolk/modell/HentInntektlisteBolkMapperRest.java
Labels: mocks

#1577 Publiserer ForelderBarnRelasjon hendelser ved fødselshendelser.
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/ForelderBarnRelasjonHendelseDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/PersonhendelseDto.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
  server/src/main/resources/avro/leesah/Personhendelse.avdl
  server/src/main/resources/avro/leesah/forelderbarnrelasjon/ForelderBarnRelasjon.avdl
  server/src/test/java/no/nav/foreldrepenger/fpmock/server/HendelseTest.java
Labels: kontrakt, web

#1579 Nullsafe sjekk for publisering av ForelderBarnrelasjon
  .githooks/pre-commit
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

#1580 Fikser endepunkt for innsending av personhendelser.
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/pdl/PdlLeesahRestTjeneste.java
Labels: web

#1584 Kafka: Bruker versjon fra fp-bom (3.5.1 til 3.9.1) og feiler hardt hv…
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/kafka/KafkaRestTjeneste.java
Labels: pom, mocks, web

#1585 TFP-5967: Utvider kontrakt for å legge til addressebeskyttelse og skj…
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/Adressebeskyttelse.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/PersonDto.java
  mocks/skjermet-person-mock/src/main/java/no/nav/nom/SkjermetPersonMock.java
  model/src/main/java/no/nav/foreldrepenger/vtp/testmodell/personopplysning/PersonModell.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PersonopplysningModellMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, mocks, web
