Repository navikt/vtp, pull requests merged in 2025-03, with the labels that each got.

#1603 DIGDIR: Legger til nytt POST endepunkt for å hente ut språk
  mocks/digdir-mock/src/main/java/no/nav/digdir/DigdirKrrProxyMock.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjon.java
  mocks/digdir-mock/src/main/java/no/nav/digdir/Kontaktinformasjoner.java
  mocks/digdir-mock/src/test/java/no/nav/digdir/DigdirKrrProxyMockTest.java
Labels: mocks

#1607 Nytt post-endepunkt for medlemskap
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakApiParams.java
  mocks/medl-mock/src/main/java/no/nav/medl2/rest/api/v1/MedlemskapsunntakMock.java
Labels: mocks

#1610 Endrer lenke for AGI i fagermock
  server/src/main/java/no/nav/foreldrepenger/vtp/server/fagerportal/FagerPortalRestTjeneste.java
Labels: web

#1615 Forsøk med KRaft uten ZK
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/KafkaLocal.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/LocalKafkaServer.java
  mocks/kafka-embedded-mock/src/main/java/no/nav/foreldrepenger/vtp/kafkaembedded/ZooKeeperLocal.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: mocks, web

#1609 TFP-5430: Håndterer flere oppgavetyper samtidig ved hentOppgaver
  mocks/oppgave-mock/src/main/java/no/nav/oppgave/OppgaveMockImpl.java
Labels: mocks

#1619 TFP-6067: utvide ArbeidsforholdDto med Permisjon
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/ArbeidsforholdDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/PermisjonDto.java
  kontrakter/src/main/java/no/nav/foreldrepenger/vtp/kontrakter/v2/Permisjonstype.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/ArbeidsavtaleMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektYtelseModellMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/InntektskomponentMapper.java
  server/src/main/java/no/nav/foreldrepenger/vtp/server/api/scenario/mapper/PermisjonMapper.java
  server/src/test/java/no/nav/foreldrepenger/vtp/server/api/scenario/TestscenarioV2RestTjenesteTest.java
Labels: kontrakt, web
