Repository navikt/vtp, pull requests merged in 2025-04, with the labels that each got.

#1625 TFP-6038 kelvin-mock V0
  mocks/kelvin-mock/pom.xml
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/KelvinMock.java
  mocks/pom.xml
  mocks/spokelse-mock/src/main/java/no/nav/tjeneste/virksomhet/spokelse/rest/SpøkelseMock.java
  pom.xml
  server/pom.xml
  server/src/main/java/no/nav/foreldrepenger/vtp/server/ApplicationConfigJersey.java
Labels: pom, mocks, web

#1624 Oppdater graphql-skjema PDL/SAF
  mocks/pdl-mock/src/main/java/no/nav/pdl/oversetter/PersonAdapter.java
  mocks/pdl-mock/src/main/resources/schemas/pdl.graphqls
  mocks/saf-mock/src/main/resources/schemas/saf.graphqls
  mocks/saf-mock/src/main/resources/schemas/safselvbetjening.graphqls
Labels: mocks

#1626 TFP-6038 vedktaksdato er dato, ikke tid
  mocks/kelvin-mock/src/main/java/no/nav/tjeneste/virksomhet/kelvin/ArbeidsavklaringspengerResponse.java
Labels: mocks

#1627 Unødvendig dependency
  pom.xml
Labels: pom

#1620 TSFF-1096: Starte opp denne serveren lokal med gamle kafka-logger vil…
  server/src/main/java/no/nav/foreldrepenger/vtp/server/MockServer.java
Labels: web
